* {
    box-sizing: border-box;
    margin: 2px;
    padding: 0;
}

header,
section h2,
section h3,
form button {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
}

header nav li {
    display: inline;
    font-size: 24px;
    margin-left: 16px;
}

.container {
    width: 1280px;
    margin: 0px auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

body>header {
    background-color: rgb(62, 158, 255);
    padding: 16px 0px;
    color: #f5f6fa;
}

header .container a {
    color: #f5f6fa;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
}

.container h2 {
    color: white;
}

.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 20%;
}

section {
    padding: 10px 0;
}

.container #romance {
    background-color: rgb(133, 101, 250);
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: rgb(134, 134, 236);
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: 'Times New Roman', Times, serif
}

.articles article h3 {
    font-size: 25px;
}

section h2 {
    font-size: 38px;
}

.container #comedia {
    background-color: rgb(63, 29, 115);

}

.container #action {
    background-color: rgb(86, 68, 108);
}

.social-links img {
    height: 24px;

}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
textarea,
button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: rgb(7, 47, 100);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(47, 98, 164);
}

input:focus,
textarea:focus {
    outline-color: rgb(7, 47, 100);
}

footer {
    background-color: rgb(62, 158, 255);
    color: white;
    padding: 35px 0;
}

.container #contact {
    background-color: rgb(138, 120, 154);
}